node_modules
.DS_Store
dist
.webpack
tsconfig.tsbuildinfo
lib
.idea

prod.*
stage.*
dev.*
.dynamodb
.secrets.json
.serverless
.env.json
.env
**/db-migration/users.json
**/db-migration/reports.json
tmp
