########################################################
# Reusable e2e-test workflow                           #
########################################################
name: e2e-test

on:
  workflow_call:

jobs:
  e2e:
    name: e2e-job
    runs-on: ubuntu-latest
    environment: staging
    container: mcr.microsoft.com/playwright:focal
    env:
      USER_ID: ${{ secrets.TEST_TRAINEE_ID }}
      URL: ${{ secrets.FRONTEND_URL }}
      ENVIRONMENT_NAME: staging
    steps:
      - uses: actions/checkout@v6

      - uses: actions/cache@v4
        with:
          path: |
            node_modules
            packages/*/node_modules
            .yarn
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}-in-${{ github.ref_name }}

      - name: Download built dist and lib
        uses: actions/download-artifact@v5
        with:
          name: dist-and-lib
          path: packages

      - run: |
          cd packages/e2e
          unset NODE_OPTIONS
          yarn
          npx playwright install
          npx playwright test --output test-results --config playwright.config.ts

      - name: Upload Playwright test results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-test-logs
          path: packages/e2e/test-results
