########################################################
# Reusable deploy workflow                             #
########################################################
name: deploy

on:
  workflow_call:
    inputs:
      alexaSkillStage:
        required: true
        type: string
      debug:
        required: true
        type: string
      target:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target }}
    name: deploy-job
    permissions:
      id-token: write
      contents: read
    env:
      NODE_ENV: ${{ inputs.target }}
      ALEXA_SKILL_STAGE: ${{ inputs.alexaSkillStage }}
      DEBUG: ${{ inputs.debug }}
      ALEXA_AMAZON_CLIENT_ID: ${{ secrets.ALEXA_AMAZON_CLIENT_ID }}
      ALEXA_AMAZON_CLIENT_SECRET: ${{ secrets.ALEXA_AMAZON_CLIENT_SECRET }}
      ALEXA_SKILL_ID: ${{ secrets.ALEXA_SKILL_ID }}
      AUTH_HEADER: ${{ secrets.AUTH_HEADER }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      MICROSOFT_TENANT_ID: ${{ secrets.MICROSOFT_TENANT_ID }}
      MICROSOFT_CLIENT_ID: ${{ secrets.MICROSOFT_CLIENT_ID }}
      LARA_SECRET: ${{ secrets.LARA_SECRET }}
      SES_EMAIL: ${{ secrets.SES_EMAIL }}
      SUPPORT_MAIL: ${{ secrets.SUPPORT_MAIL }}
      COMPANY_ABBREVIATION: ${{ secrets.COMPANY_ABBREVIATION }}
      OLD_COMPANY_NAME: ${{ secrets.OLD_COMPANY_NAME }}
      NEW_COMPANY_NAME: ${{ secrets.NEW_COMPANY_NAME }}
      LARA_VERSION: ${{ github.ref_name }}
      SES_REGION: ${{ secrets.SES_REGION }}
      FRONTEND_URL: ${{ secrets.FRONTEND_URL }}
      BACKEND_URL: ${{ secrets.BACKEND_URL }}
      HOSTED_ZONE_ID: ${{ secrets.HOSTED_ZONE_ID }}
      FRONTEND_CERTIFICATE_ARN: ${{ secrets.FRONTEND_CERTIFICATE_ARN }}
      BACKEND_CERTIFICATE_ARN: ${{ secrets.BACKEND_CERTIFICATE_ARN }}
      IMAGE_URL: ${{ secrets.IMAGE_URL }}
      AVATAR_URL: ${{ secrets.AVATAR_URL }}
      AVATAR_BUCKET_URL: ${{ secrets.AVATAR_BUCKET_URL }}
      MICROSOFT_LOGIN_URL: ${{ secrets.MICROSOFT_LOGIN_URL }}

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'

      - uses: actions/cache@v4
        with:
          path: |
            node_modules
            packages/*/node_modules
            .yarn
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}-in-${{ github.ref_name }}

      - run: npm i -g osls

      - name: Download built dist and lib
        uses: actions/download-artifact@v5
        with:
          name: dist-and-lib
          path: packages

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-deploy-user
          role-session-name: github-deployment

      - name: Set environment variables without https
        run: |
          echo "FRONTEND_URL_WITHOUT_HTTPS=$(echo ${{ secrets.FRONTEND_URL }} | sed 's/^https:\/\///')" >> $GITHUB_ENV
          echo "BACKEND_URL_WITHOUT_HTTPS=$(echo ${{ secrets.BACKEND_URL }} | sed 's/^https:\/\///')" >> $GITHUB_ENV
          echo "BACKEND_DOMAIN_NAME=$(echo ${{ secrets.BACKEND_URL }} | sed 's/^https:\/\///; s/\/backend//')" >> $GITHUB_ENV

      - name: Deploy Frontend
        run: serverless s3sync bucket --bucket ${{ secrets.COMPANY_ABBREVIATION }}-lara-frontend-${{ inputs.target }}

      - name: Deploy Backends
        run: serverless deploy --stage ${{ inputs.target }}

      - name: Invalidate CloudFront cache for Frontend
        continue-on-error: true
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.AWS_FRONTEND_DISTRIBUTION_ID }} \
            --paths "/*"

      - name: Invalidate CloudFront cache for Backend
        continue-on-error: true
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.AWS_BACKEND_DISTRIBUTION_ID }} \
            --paths "/*"
